* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: rgb(61, 60, 60);
    background-image: url('../../assets/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
}

.weatherCard {
    width: 25%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    position: relative;
    padding-top: 100px;
    border-radius: 16px;
    background-color: rgb(134, 134, 134);
}

.closeButton {
    font-size: 50px;
    color: black;
    margin-right: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    line-height: 40px;
}

.closeButton:focus {
    color: white;
}

.weatherInfo {
    margin-top: 80px;
}